<template>
    <register></register>
</template>

<script>

    import RegisterComponent from "./RegisterComponent";

    export default {
        data() {
            return {
                errors: {}
            }
        },
        components: {
            'register': RegisterComponent
        },
    }
</script>

<style scoped>

</style>