<template xmlns="http://www.w3.org/1999/html">
    <div>
        <h2>Create Post</h2>
        <router-link to="/profile">Back</router-link>
        <form action="">
            <div class="col-md-6">
                <input type="text" v-model="post.title" id="title" />
            </div>
            <div class="col-md-6">
                <textarea v-model="post.description"></textarea>
            </div>
            <div class="col-md-6">
                <input type="file" id="files" ref="file" v-on:change="handleFilesUpload()"/>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-block" @click.prevent="submitFiles">Upload Post</button>
            </div>
        </form>
        <div v-if="errors" v-for="error in errors" class="col-md-12">
            <p class="errors" v-for="errorMessage in error">{{errorMessage}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                post: {
                  title: '',
                  description: '',
                  file: ''
                },
                errors: {}
            }
        },

        methods: {
            submitFiles(event){
                this.errors = '';
                let formData = new FormData();
                formData.append('file', this.post.file);
                formData.append('title', this.post.title);
                formData.append('description', this.post.description);
                formData.append('user_id', this.$session.get('user_id'));
                let app = this;
                axios.post( '/api/createPost', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(response) {
                    if (response.data.success){
                        app.post.title = '';
                        app.post.description = '';
                        app.$refs.file.value = ''
                    }
                })
                .catch(function (error) {
                    app.errors = error.response.data.errors;
                });
            },
            handleFilesUpload(){
                this.post.file = this.$refs.file.files[0];
            }
        }
    }
</script>

<style scoped>

</style>