<template>
    <div>
        <div class="container">
            <div class="row">
                <h2>Edit User</h2>
                <router-link to="/usersList">Back</router-link>
                <form v-on:submit.prevent=onUpdate()>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" v-model="form.name" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Last Name</label>
                            <input type="text" v-model="form.lastname" class="form-control" id="lastname" placeholder="Last Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" v-model="form.email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" v-model="form.password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" v-model="form.password_confirmation" class="form-control" id="confirmPassword" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="role">Create Admin</label>
                            <input type="checkbox" v-model="form.admin" class="form-control" id="role" >
                        </div>
                    </div>
                    <button class="btn btn-primary">Update</button>
                </form>
                <div v-if="errors" v-for="error in errors" class="col-md-12">
                    <p class="errors" v-for="errorMessage in error">{{errorMessage}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: [],
                errors: {}
            };

        },
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            axios.get('/api/editUser/' + id)
                .then(function(response){
                    app.form = response.data
                })
                .catch(function (error) {
                    app.errors = error.response.data.errors;
                });
        },
        methods: {
            onUpdate() {
                this.errors = {};
                let app = this;
                axios.post("/api/updateUser", this.form)
                    .then(function(response){
                        if (response.data.id) {
                            app.$router.push("/usersList");
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                    });
            },
        }
    }
</script>

<style scoped>

</style>