<template>
    <div>
        <div class="container">
            <div class="row">
                <h1>My Project</h1>
                <router-link to="/register">Register</router-link>
                <router-link to="/login">Login</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            if (this.$session.get('user_id')){
                this.$router.push('/profile');
            }
        }
    }
</script>

<style scoped>
    .row {
        text-align: center;
        font-weight: bold;
    }
</style>