<template>
    <div>
        <div class="container">
            <div class="row">
                <h2>Sign In</h2>
                <router-link to="/">Back</router-link>
                <form v-on:submit.prevent=onLogin()>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" v-model="form.email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" v-model="form.password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group col-md-12">
                        <button class="btn btn-primary">Sign in</button>
                    </div>
                </form>
                <div v-if="errors.authorizationError">
                    <p class="errors">{{errors.authorizationError}}</p>
                </div>
                <div v-else-if="errors" v-for="error in errors" class="col-md-12">
                    <p class="errors" v-for="errorMessage in error">{{errorMessage}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    email: null,
                    password: null
                },
                errors: {}
            };
        },
        mounted() {
            if (this.$session.get('user_id')){
                this.$router.push('/profile');
            }
        },

        methods: {
            onLogin() {
                this.errors = {};
                let app = this;
                axios.post("/api/login", this.form)
                    .then(function(response) {
                        if (response.data.success) {
                            app.$session.set('user_id', response.data.user.id);
                            app.$session.set('isAdmin', response.data.user.admin);
                            app.$router.push("/profile");
                        }else {
                            app.errors = response.data.errors;
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                    });
            },
            onKeyup(e) {
                if (e.code === "Enter") {
                    this.onLogin();
                }
            },

        },
    }
</script>

<style scoped>

</style>