<template>
    <div>
        <router-link to="usersList">Users List</router-link>
        <router-link to="createPost">Create Post</router-link>
        <button @click="Logout()" class="btn btn-primary">Logout</button>
        <div class="container">
            <div class="row">
                <h2>All Posts</h2>
                <div class="col-md-4 posts" v-for="post,index in posts">
                    <p class="header">Title</p>
                    <p>{{post.title}}</p>
                    <p class="header">Description</p>
                    <p>{{post.description}}</p>
                    <img v-bind:src="`/uploadImages/${post.image_name}`" class="updated-image" />
                    <div v-if="post.user_id == userId || isAdmin">
                        <router-link :to="{name: 'updatePost', params: {id: post.id}}" class="btn btn-primary">Edit</router-link>
                        <button class="btn btn-danger" @click="deletePost(post.id, post.image_name, index)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="errors" v-for="error in errors" class="col-md-12">
            <p class="errors" v-for="errorMessage in error">{{errorMessage}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return{
                posts: [],
                userId: this.$session.get('user_id'),
                isAdmin: '',
                errors: {}
            }
        },
        mounted() {
            if (!this.$session.get('user_id')) {
                this.$router.push('/');
            }else {
                let app = this,
                    userId = this.$session.get('user_id');
                this.isAdmin = this.$session.get('isAdmin');
                axios.post('/api/showPosts', {'userId': userId})
                    .then(function(response) {
                        app.posts = response.data['posts'];
                    })
                    .catch(function(error){
                        app.errors = error.response.data.errors;
                    })
            }
        },
        methods: {
            Logout() {
                this.$session.clear();
                this.$router.push("/");
            },
            deletePost(postId, imageName, index) {
                let isDelete = confirm('Do you want to delete this post?');
                if (isDelete){
                    let app = this;
                    axios.post('/api/deletePost', {'postId': postId, 'imageName': imageName})
                        .then(function(response){
                            app.posts.splice(index, 1)
                        })
                        .catch(function(error){
                            app.errors = error.response.data.errors;
                        })
                }
            }
        }
    }
</script>

<style scoped>
    .posts {
        border: 1px solid green;
        margin-bottom: 15px;
    }

    .updated-image {
        width: 100%;
        height: 300px;
    }

    .header {
        color: red;
        font-weight: bold;
    }
</style>
