<template>
    <div>
        <div class="container">
            <div class="row">
                <router-link to="/">Back</router-link>
                <form v-on:submit.prevent=onRegister()>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Name</label>
                            <input type="text" v-model="form.name" class="form-control" id="name" placeholder="Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Last Name</label>
                            <input type="text" v-model="form.lastname" class="form-control" id="lastname" placeholder="Last Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" v-model="form.email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" v-model="form.password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" v-model="form.password_confirmation" class="form-control" id="confirmPassword" placeholder="Password">
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
                <div v-if="errors" v-for="error in errors" class="col-md-12">
                    <p class="errors" v-for="errorMessage in error">{{errorMessage}}</p>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    name: null,
                    lastname: null,
                    email: null,
                    password: null,
                    password_confirmation: null
                },
                errors: {}
            };

        },

        methods: {
            onRegister() {
                this.errors = {};
                let app = this;
                axios.post("/api/register", this.form)
                    .then(function(response){
                        if (response.data.success) {
                            app.$router.push("/login");
                        }
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                    });
            }
        }
    }
</script>

<style>
    .errors {
        color: red;
    }
</style>