<template>
    <div>
        <h2>Update Post</h2>
        <router-link to='/profile'>Back</router-link>
        <form action="">
            <input type='text' v-model='updatedPost.title' class="post-title" />
            <textarea type='text' v-model='updatedPost.description'></textarea>
            <img v-bind:src="`/uploadImages/${updatedPost.image_name}`" alt="" class="col-md-4 updatedImage">
            <input type="file" id="files" ref="file" v-on:change="handleFilesUpload()"/>
            <button class='btn btn-success' @click.prevent="updatePost(updatedPost.id)">Update Post</button>
        </form>
        <div v-if="errors" v-for="error in errors" class="col-md-12">
            <p class="errors" v-for="errorMessage in error">{{errorMessage}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                updatedPost: [],
                errors: {}
            }
        },
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            axios.get('/api/updatePost/' + id)
                .then(function(response){
                    app.updatedPost = response.data
                })
                .catch(function (error) {
                    app.errors = error.response.data.errors;
                });
        },
        methods: {
            updatePost(id) {
                this.errors = '';
                let formData = new FormData();
                formData.append('file', this.updatedPost.file);
                formData.append('title', this.updatedPost.title);
                formData.append('description', this.updatedPost.description);
                formData.append('user_id', this.$session.get('user_id'));
                formData.append('imageName', this.updatedPost.image_name);
                formData.append('id', id);
                let app = this;
                axios.post( '/api/editPost', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    ).then(function(response) {
                        app.$router.push('/profile');
                    })
                    .catch(function (error) {
                        app.errors = error.response.data.errors;
                    });
            },
            handleFilesUpload() {
                this.updatedPost.file = this.$refs.file.files[0];
            }
        }
    }
</script>

<style scoped>
    .post-title {
        vertical-align: top;
    }
</style>