<template>
    <div>
        <h2>Users List</h2>
        <router-link to="/profile">Back</router-link>
        <td v-if="isAdmin"><router-link to="addUser" class="btn btn-warning">Add User</router-link></td>
        <table border="1">
            <tr class="header">
                <td>User Name</td>
                <td>User Last Name</td>
                <td>User Email</td>
                <td>Role</td>
                <td v-if="isAdmin">Admin Possibilities</td>
            </tr>
            <tr v-for="data,index in users">
                <td>{{data.name}}</td>
                <td>{{data.lastname}}</td>
                <td>{{data.email}}</td>
                <td v-if="data.admin">admin</td>
                <td v-else>user</td>
                <div v-if="isAdmin">
                    <td><button class="btn btn-danger" @click="deleteUser(data.id, index)">Delete</button></td>
                    <td><router-link :to="{name: 'editUser', params: {id: data.id}}" class="btn btn-primary">Edit</router-link></td>
                </div>
            </tr>
        </table>
        <div v-if="errors" v-for="error in errors" class="col-md-12">
            <p class="errors" v-for="errorMessage in error">{{errorMessage}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                isAdmin: '',
                errors: {}
            }
        },
        mounted() {
            let app = this;
            this.isAdmin = this.$session.get('isAdmin');
            axios.post('/api/usersList')
                .then(function(response){
                    app.users = response.data;
                })
                .catch(function(error){
                    app.errors = error.response.data.errors;
                })
        },
        methods: {
            deleteUser(userId, index) {
                let isDelete = confirm('Do you want to delete this user?');
                if (isDelete){
                    let app = this;
                    axios.post('/api/deleteUser', {'userId': userId})
                        .then(function(response){
                            app.users.splice(index, 1)
                        })
                        .catch(function(error){
                            app.errors = error.response.data.errors;
                        })
                }
            }
        }
    }
</script>

<style scoped>
    .header {
        color: red;
        font-weight: bold;
        text-align: center;
    }
</style>